{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Esta aplicação gerencia vestibulares.</p>
<p> A Dineton começou produzindo cartas de um jogo japonês chamado Narafuda. Durante 67 anos, esse foi o principal e único
  produto da gigante de videogames. O nome da marca, inclusive, faz uma apologia aos jogos de azar. Significa "deixe a sorte 
  para o céu". Em pouco tempo, a companhia se tornou a principal fabricante desse tipo de cartas no Japão e acabou desenvolvendo 
  novos jogos de baralho - alguns foram até criados com personagens da Disney.</p>


{% endblock %}
